<loading-bar *ngIf="loading"></loading-bar>
<mat-card *ngIf="!loading" class="mat-elevation-z5">
  <mat-card-title>
    <span class="font-primary">Types de soins</span>
    <div class="float-right buttons-wrapper">
      <button (click)="onAdd()" color="primary" mat-raised-button>Créer</button>
    </div>
  </mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Rechercher">
    </mat-form-field>

    <div class="mat-table-wrapper">
      <table [dataSource]="dataSource" mat-table matSort matSortActive="title" matSortDirection="asc">

        <ng-container matColumnDef="title" sticky>
          <th *matHeaderCellDef class="font-accent" mat-header-cell mat-sort-header>Intitulé</th>
          <td *matCellDef="let careType" mat-cell> {{careType.title}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th *matHeaderCellDef class="font-accent" mat-header-cell mat-sort-header>Prix</th>
          <td *matCellDef="let careType" mat-cell> {{ careType.price | currency: 'EUR':'symbol':undefined:'fr-BE' }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef class="font-accent" mat-header-cell mat-sort-header></th>
          <td *matCellDef="let careType" class="center" mat-cell>
            <mat-icon (click)="remove(careType); $event.stopPropagation();" color="primary">delete</mat-icon>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns, sticky: true" mat-header-row></tr>
        <tr (click)="edit(careType)" *matRowDef="let careType; columns: displayedColumns;" class="selectable" mat-row></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="center" [colSpan]="displayedColumns.length">
            Aucun élément
          </td>
        </tr>
      </table>

      <mat-paginator [length]="careTypes?.length"
                     [pageSize]="10"
                     [pageSizeOptions]="[10, 15, 20, 50, 100]"
                     showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
