<loading-bar *ngIf="waiting"></loading-bar>
<mat-card *ngIf="!waiting" class="mat-elevation-z5">
  <mat-card-title class="font-primary back-button-wrapper">
    <mat-icon color="accent" class="selectable back-button" backButton>arrow_back</mat-icon>
    <span *ngIf="!editing">Entrez </span><span *ngIf="editing">Modifiez</span>
    &nbsp;les informations du type de soins
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="careTypeForm" autocomplete="off">
      <div class="row">
        <mat-form-field id="title">
          <input autocomplete="off" formControlName="title" matInput placeholder="Titre*">
          <mat-error>Ce champ est obligatoire</mat-error>
        </mat-form-field>

        <mat-form-field id="price">
          <input autocomplete="off" formControlName="price" matInput placeholder="Prix*">
          <mat-icon matSuffix>euro_symbol</mat-icon>
          <mat-error *ngIf="careTypeForm.controls.price.hasError('required')">Ce champ est obligatoire</mat-error>
          <mat-error *ngIf="careTypeForm.controls.price.hasError('pattern')">Le format est invalide</mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div class="action-bar">
      <button (click)="onCancel()" mat-button type="button">Annuler</button>
      <button (click)="onSave()"
              [disabled]="careTypeForm.invalid || (editing && !careTypeForm.dirty)"
              class="primary-button"
              color=primary
              mat-raised-button
              type="submit">
        {{ editing ? 'Modifier' : 'Créer'}}
      </button>
    </div>
  </mat-card-actions>
</mat-card>
