.row {
  display: flex;
  justify-content: center;
  align-items: center;

  #saleLineId {
    display: none;
  }
}

mat-form-field,
app-payment-methods-selector,
mat-checkbox,
p {
  margin: 15px;
}

.action-bar {
  text-align: end;
}

.center-button {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
